/*
nomBalise {
	propriété: valeur;
	propriété2: valeur;
}
*/

h1, h3, h6, #texte {
	color: red;
}

div{
	background-color: #CCCCCC;
}

#header {
	font-size: 50px;
}

.similaire {
	font-weight: bold;
}

section > article {
	text-decoration: underline;
}

ul > li {
	list-style-type: none;
	display: inline-block;
	float: right;
	border: 1px dotted blue;
	padding-left: 10px;
	padding-right: 10px;
	margin: 20px;
}

ol, ul > li {
	background-color: rgb(30,120,136);
}


body>p {
	border: 1px solid green;
	width: 50%;
	height: 5%;
}


section {
	display: flex;
	flex-direction: row-reverse;
}

#exampleInputEmail1 {
	color: red;
}

.personnel {
	background-color: yellow;
}

.progress-bar{

}